<div class="container">
    
    <div class="row">
        <div class="box col-6 mt-3 bg-dark">
            <form class=" p-3">
                <h4 class="text-center text-light fw-bolder">Add Item</h4>
                <input [(ngModel)]="product.id" name="productId" type="text" class="form-control mb-2 border border-2 border-warning" placeholder="Enter item id">
                <input [(ngModel)]="product.title" name="productTitle" type="text" class="form-control mb-2 border border-2 border-warning" placeholder="Enter item name">
                <textarea [(ngModel)]="product.description" name="productDescription"  id="" cols="30" rows="5" class="form-control mb-2 border border-2 border-warning" placeholder="Enter item description"></textarea>
                <input [(ngModel)]="product.price" name="productPrice" type="text" class="form-control mb-2 border border-2 border-warning" placeholder="Enter item price">
                <input [(ngModel)]="product.rating" name="productRating" type="text" class="form-control mb-2 border border-2 border-warning" placeholder="Enter item rating">
                <input [(ngModel)]="product.stock" name="productStock" type="text" class="form-control mb-2 border border-2 border-warning" placeholder="Enter available stock ">
                <input [(ngModel)]="product.brand" name="productBrand" type="text" class="form-control mb-2 border border-2 border-warning" placeholder="Enter item brand name">
                <input [(ngModel)]="product.thumbnail" name="productThumbnail" type="text" class="form-control mb-2 border border-2 border-warning" placeholder="Enter thumbnail url">
                <input [(ngModel)]="product.images" name="productImages" type="text" class="form-control mb-2 border border-2 border-warning" placeholder="Enter image url">
                <select [(ngModel)]="product.categoryId" name="categoryId" id="" class="form-control mb-2 border border-2 border-warning">
                    <option value="select" selected hidden disabled>Select</option>
                    <option value={{category.id}} *ngFor="let category of allCategory">{{category.name}}</option>
                </select>
                <input (click)="addProduct()"  type="button" value="Create" class="btn btn-success mt-3">
                <a routerLink="/" class="btn btn-danger mt-3" style="float: right;">Close</a>
            </form>
        </div>
        <div class="col-6">
            <img [src]="product.thumbnail" alt="" width="100%">
        </div>
    </div>
</div>

